.heading{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.slogan{
    color: red;
    font-size: x-large;
    font-family: cursive;
    font-weight: bold;
    margin-right: 100px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}